@using ComputerShopApp.Models.DTO.Users
@model IEnumerable<ShopUserDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="mb-3">List of users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Id)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.UserName)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Email)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.BirthDate)</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShopUserDTO user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.BirthDate</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="ChangePassword" asp-route-id="@user.Id">Change Password</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a> |
                    <a asp-action="ShowClaims" asp-route-id="@user.Id">Show Claims</a>
                </td>
            </tr>
        }
    </tbody>
</table>

